<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="/styles/client.css">
    </head>
    <body>
        <div class="App">
            <div class="App-header">
                <h2>Create New Client Browser</h2>
            </div>
            <div class="Client">
                <form action="/browser/create" method="post" enctype="multipart/form-data" onsubmit="showMsg()" >
                    <ul>
                        <p><label>英文名称</label><input type="text" placeholder="eg: tripleone" name="client" required="required" /></p>
                        <p><label>中文名称</label><input type="text" placeholder="eg: 合众科技" name="company" required="required" /></p>
                        <p><label>公司主页</label><textarea type="url" placeholder="支持多主页, 每行一个" name="homepage" required="required" ></textarea></p>
                        <p><label>公司图标</label><input type="file" name="icon" required="required" accept="image/*" /></p>
                        <p><label></label><input type="checkbox" name="useProxy" checked>使用Proxy</p>
                        <p><label></label><input type="submit" value="Submit" /></p>
                    </ul>
                </form>
                <span id="msg" style="color:red"></span>
            </div>
        </div>
    </body>
    <script>
        function showMsg() {
            document.getElementById('msg').innerHTML = "生成安装文件需要1到2分钟时间, 请耐心等待, 生成完毕后将自动开始下载."
        }
    </script>
</html>