{
  "name": "Tripleonetech service",
  "server": {
    "port": 7002
  },
  "database": {
    "mysql": {
      "host": "localhost",
      "db": "tripleonetech-test",
      "port": 3306,
      "credentials": {
        "username": "user",
        "password": "password"
      }
    }
  },
  "secret": {
    "token": "abc123",
    "cookie": "xyz987"
  },
  "timeout": {
    "token": 7200
  }
}