{
  "name": "Tripleonetech browser service",
  "server": {
    "port": 7001,
    "mainAddr": "http://192.168.50.128:7001",
    "macAddr": "http://35.10.10.11:7001",  
    "windowsAddr": "http://35.10.10.12:7001" 
  },
  "ssServerList":[
    {
      "serverAddr": "106.75.166.72",
      "serverPort": 19999,
      "password": "nMvTdb7VXMPudFWH",
      "method": "aes-256-cfb"
    },
    {
      "serverAddr": "35.201.204.2",
      "serverPort": 19999,
      "password": "dBbQMP8Nd9vyjvN",
      "method": "aes-256-cfb"
    }
  ],
  "database": {
    "mysql": {
      "host": "localhost",
      "db": "browser-production",
      "port": 3306,
      "credentials": {
        "username": "user",
        "password": "password"
      }
    }
  },
  "jwtOptions": {
    "expiresIn": "180d"
  },
  "secret": {
    "jwt": "jwtsecret",
    "token": "abcd1234",
    "cookie": "xyz987"
  },
  "timeout": {
    "token": 7200
  },
  "browser": {
    "projectPath": "C:\\projects\\safetybrowser",
    "version": "2.9.0",
    "legalCopyright": "Copyright 2017"
  }
}